<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>

    <div class="registration-footer" style="text-align: right;">
      <h3><a href="/view-cars"> Sport<span style="color: red; font-weight: 700; font-size: 18px;">Line</span></a></h3>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Sign Up!
          </ion-card-title>
          <ion-card-subtitle>
            Create Your<strong> account</strong> by filling <br>up the form
          </ion-card-subtitle>
        </ion-card-header>


        <ion-card-content>
          <form #signUpForm="ngForm" (ngSubmit)="onSignUp(signUpForm)">
            <ion-item>
              <ion-label position="floating" style="color:grey;">Name</ion-label>
              <ion-input type="text" name="firstname" #firstname="ngModel" [(ngModel)]="signUp.firstname" required
                firstname>
              </ion-input>
              <ion-icon class="ion-align-self-center" slot="end" name="person" style="color: rgb(79, 74, 74);">
              </ion-icon>
            </ion-item>

            <div *ngIf="firstname.invalid && firstname.touched">
              <ion-text color="danger text-center">
                <h4 style="padding-left: 20px; margin-top:10px;">Please write Your name</h4>
              </ion-text>
            </div>


            <ion-item>
              <ion-label position="floating" style="color:grey;">Surname</ion-label>
              <ion-input type="text" name="surname" #surname="ngModel" [(ngModel)]="signUp.surname" required surname>
              </ion-input>
              <ion-icon class="ion-align-self-center" slot="end" name="person" style="color: rgb(79, 74, 74);">
              </ion-icon>
            </ion-item>

            <div *ngIf="surname.invalid && surname.touched">
              <ion-text color="danger text-center">
                <h4 style="padding-left: 20px; margin-top:10px;">Please write Your name</h4>
              </ion-text>
            </div>


            <ion-item>
              <ion-label position="floating" style="color:grey;">Phone number</ion-label>
              <ion-input type="phoneNumber" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="signUp.phoneNumber"
                required phoneNumber></ion-input>
              <ion-icon class="ion-align-self-center" slot="end" name="call" style="color: rgb(79, 74, 74);"></ion-icon>
            </ion-item>

            <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
              <ion-text color="danger text-center">
                <h4 style="padding-left: 20px; margin-top:10px;">Please write Your phone number</h4>
              </ion-text>
            </div>



            <ion-item>
              <ion-label position="floating" style="color:grey;">Email Address</ion-label>
              <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="signUp.email" required email>
              </ion-input>
              <ion-icon class="ion-align-self-center" slot="end" name="mail" style="color: rgb(79, 74, 74);"></ion-icon>
            </ion-item>

            <div *ngIf="email.invalid && email.touched">
              <ion-text color="danger text-center">
                <h4 style="padding-left: 20px; margin-top:10px;">Please write email address</h4>
              </ion-text>
            </div>


            <ion-item>
              <ion-label position="floating" style="color:grey;">Password</ion-label>
              <ion-input [type]="type ? 'password' : 'text'" name="password" #password="ngModel"
                [(ngModel)]="signUp.password" required password minlength="5"></ion-input>
              <ion-icon class="ion-align-self-center" slot="end" name="eye" style="color: rgb(79, 74, 74);"
                (click)="changeType()"></ion-icon>
            </ion-item>

            <div *ngIf="password.invalid && password.touched">
              <ion-text color="danger text-center">
                <h4 style="padding-left: 20px; margin-top:10px;">Please write password</h4>
              </ion-text>
            </div>



            <div class="bottom-section">
              <ion-button routerLink="/login" type="submit"
                [disabled]="email.invalid || password.invalid || firstname.invalid || surname.invalid || phoneNumber.invalid">
                Sign Up
              </ion-button>


              <span>Already have an account?<a class="signUp" href="http://localhost:8100/login">Sign in</a></span>
            </div>
          </form>
        </ion-card-content>

      </ion-card>

    </div>
  </div>

</ion-content>