<ion-content>
  <div class="background-container">

    <div class="background-filter">
      <ion-card>
        <img src="../../assets/LOGO.png" />
        <ion-header>
          <ion-card-title>
            Welcome to<br>SportLine Rental Car
          </ion-card-title>
        </ion-header>
        <ion-card-content>
          <a class="btn-login" routerLink="/login">Login</a>
          <a class="btn-login" routerLink="/sign-up" style="margin-left: 10px;">Sign up</a>
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>