<ion-header class="ion-no-border">
  <ion-item lines="none" class="avatar">
    <ion-avatar slot="start">
      <ion-menu-toggle menu="main-menu">
        <img src="../../assets/male.png">
      </ion-menu-toggle>

    </ion-avatar>

    Hello&nbsp;<strong> Marko!</strong>


    <ion-button color="light" fill="clear" slot="end" (click)="logOut()">
      <ion-icon name="log-out" slot="end" color="dark" size="large"></ion-icon>
    </ion-button>


  </ion-item>
  <ion-item lines="none" class="search">
    <div class="ion-padding-start ion-padding-bottom">
      <ion-label>
        <h2>Search a Car</h2>
      </ion-label>

      <ion-row class="ion-align-items-center">
        <ion-col size="10" offset="1">
          <ion-searchbar placeholder="Model, Mark" searchIcon="car-sport"></ion-searchbar>
        </ion-col>
        <ion-col size="1">
          <ion-button color="light" fill="clear">
            <ion-icon slot="icon-only" name="options-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-item>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <div class="brends">
      <img src="../../assets/audiLogo.png" class="superdry" alt="">
      <img src="../../assets/bmwLogo.png" class="theNorthFace" alt="">
      <img src="../../assets/toyotaLogo.svg" class="underArmour" alt="">
      <img src="../../assets/nissanLogo.png" class="adidas" alt="">
      <img src="../../assets/mercedesLogo.png" class="champion" alt="">
      <img src="../../assets/opelLogo.png" class="nike" alt="">
      <img src="../../assets/renaultLogo.png" class="lacosta" alt="">

    </div>



    <app-home-element *ngFor="let car of cars" [car]="car"></app-home-element>




  </div>
</ion-content>